body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 40px auto;
}

h1 {
    text-align: center;
}

.form-box,
.students {
    background: white;
    padding: 25px;
    margin-top: 25px;
    border-radius: 8px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

a {
    text-decoration: none;
}